// header file - import the layout file
include ../layout.jade

block content
    #top-bar
      .container
        .row
          .col-md-12
            a.brand.pull-left(href='/')
              img(src='/images/logo.png')
    .navbar.bs-docs-nav
      .container
        nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/browse-directory') Browse All
            li
              a(href='/add-directory') Register
