// include the header 
include ./includes/splash-header.jade
.splash-banner
      .container
        .row
          .col-lg-12
            .intro-message
              h1 Welcome to eDirectory Application
              hr.intro-divider
              ul.list-inline.intro-social-buttons
                li
                  a.btn.btn-default.btn-lg(href='/add-directory')
                    span.network-name Register
                li
                  a.btn.btn-default.btn-lg(href='/browse-directory')
                    span.network-name Browse All
    // include the footer
    include ./includes/footer.jade