// include header file
include ./includes/header.jade
.container
      .row
        .col-md-9
          .main_content
            .row
              .col-md-12
               h3.title
                span.pull-left
                 h4 Below is the JSON object retrieved from the eDirectory database
               h5 Usage: /api/request-business/{business_name}
               h5 Example: /api/request-business/Honda
               if directory=='empty'
                p#errorMessage Oops....We couldnt able to find the requested business name #{businessname} in our database.
               if directory!='empty' 
                pre #{directory}
    // include the footer
    include ./includes/footer.jade