// include header file
include ./includes/header.jade
.container
      .row
        .col-md-9
          .main_content
            h3.title
              span.pull-left
              if directories!=='empty'
               h4 Below is the JSON object retrieved from the eDirectory database for requested business id
               h5 Usage: /api/request-business/{business_name}
               h5 Example: /api/request-business/Honda
            .row
              .col-md-12
               if directories=='empty'
                p#errorMessage Opps....Sorry, we couldn't able to find the requested business.
               else
                
                pre #{directory}
    // include the footer
    include ./includes/footer.jade