// include header file
include ./includes/header.jade
.container
      .row
        .col-md-9
          .main_content
            h3.title
             span.pull-left
              h3 Below is the JSON object retrieved from the eDirectory database
            .row
              .col-md-12
               if directories=='empty'
                p#errorMessage Oops...Currently, there is no business listings in our database.
               else
                pre #{directories}
    // include the footer
    include ./includes/footer.jade