// include header file
include ./includes/header.jade
.container
      .row
        .col-md-9
          .main_content
            
            .row
              .col-md-12
               h3.title
                span.pull-left
                 h4 Below is the JSON object retrieved from the eDirectory database
               if directories=='empty'
                p#errorMessage Oops...Sorry. There is currently no business listing in the database.
               if directories!='empty'
                pre #{directories}
    // include the footer
    include ./includes/footer.jade